.calPage {
    width: 955px;
    height: 970px;
    display: inline-block;
    background-color: #EDEDED;
}

.cal {
    width: 40%;
    height: 50%;
    border: 1px gray solid;
    border-width: 1%;
    background-color: #E5E5FF;
    display: inline-block;
    padding: 10%;
}

.calBtn {
    border: none;
    margin: 10px;
}

.operateBoard {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.operaBtn {
    background-color: #FDFF57;
}

.numBtn {
    background-color: #FFAF20;
}

.clearBtn {
    background-color: #FFA5FF;
}

.eqBtn {
    background-color: #FF5D6A;
}

#displayBtn {
    height: 10%;
    width: 93%;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #c1c1c1;
}

.link {
    margin-top: 20%;
    font-size: xx-large;
    align-self: start;
    margin-left: 10%;
    position: absolute;
    left:370px;
    bottom: 50px;
}